{% extends 'diagapp/base.html' %}
{% load static %}

{% block main %}
<div id="map" class="map-container">
    test
</div>
<script src="{% static 'diagapp/job_map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi35R0_kTAK-ENbDWN23sIYluArooLmDQ&callback=initMap"></script>
<div class=details>
<div class=row>
        <div>
            <p>ETA-</p>
        </div>
        <div>
            <p id="job-table-eta">null</p>
        </div>
</div>
<div class=row>
    <div>
        <p>Registration-</p>
    </div>
    <div>
        <p id="vehicle-table-registration">null</p>
    </div>
</div>
<p class="h4">Trip Quality</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Shock Level</h5>
        <div id="trip-button" class="container btn btn-warning">
            <div>
                <p id="trip-shock-level" class="text-wrap">General Shock</p>
                <p id="trip-shock-rating">100Hz-250Hz</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}