{% extends 'hub/base.html' %}
{% load static %}

{% block main %}
<div id="map" class="map-container">

</div>

<div class="container">
    <div class="row">
        <div id="active-jobs" class="col-6">
            <p class="h6">ACTIVE JOBS</p>
            <div class="line no-margin"></div>
            <table id="active-jobs-table" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Driver ID</th>
                        <th>Status</th>
                        <th>ETA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td><a href="{{ job.id }}"></a>{{ job.id }}</td>
                        <td>{{ job.driver_id }}</td>
                        <td>{{ job.status }}</td>
                        <td id="job_ETA">{{ job.eTA }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="active-display" class="col-6">
            <p id="active-display-data"></p>
            <!--Placeholder text-->
            <h2>Dashboard</h2>
        </div>
    </div>
</div>  

<script src="{% static 'hub/dashboard_map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi35R0_kTAK-ENbDWN23sIYluArooLmDQ&callback=initMap"></script>
{% endblock %}