<nav id="sidebar">
        <ul class="list-unstyled components">
            <!--<p>Heading</p>-->
            <!--<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="jobs">Jobs</a>
            </li>
            <li>
                <a href="drivers">Drivers</a>
            </li>
            <li>
                <a href="#">Diagnostics</a>
            </li>
        </ul>
</nav>